RewriteRule(,InvAct) ^/gamexamplelogin.aspx$ /Login [R,QSA]

RewriteRule ^/Login$ /gamexamplelogin.aspx [L,NC]


RewriteRule(,InvAct) ^/gamregisteruser.aspx$ /Registro [R,QSA]

RewriteRule ^/Registro$ /gamregisteruser.aspx [L,NC]


RewriteRule(,InvAct) ^/gamrecoverpasswordstep1.aspx$ /RecuperarSenha [R,QSA]

RewriteRule ^/RecuperarSenha$ /gamrecoverpasswordstep1.aspx [L,NC]


RewriteRule(,InvAct) ^/gamrecoverpasswordstep2.aspx$ /CriarNovaSenha [R,QSA]

RewriteRule ^/CriarNovaSenha$ /gamrecoverpasswordstep2.aspx [L,NC]


RewriteRule(,InvAct) ^/mapa.aspx$ /Mapa [R,QSA]

RewriteRule ^/Mapa$ /mapa.aspx [L,NC]


RewriteRule(,InvAct) ^/homeiot.aspx$ /Home [R,QSA]

RewriteRule ^/Home$ /homeiot.aspx [L,NC]


RewriteRule(,InvAct) ^/mqttconnectionww.aspx$ /Conexao [R,QSA]

RewriteRule ^/Conexao$ /mqttconnectionww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/mqttconnection.aspx$ /Conexao/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&mqttconnectionid=(.*)$ [NC]
RewriteRule(,InvAct) ^/mqttconnection.aspx$ /Conexao/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/Conexao/(.*)/(.*)$ /mqttconnection.aspx?Mode=$1&MqttConnectionId=$2 [L,NC]
RewriteRule ^/Conexao/(.*)/(.*)$ /mqttconnection.aspx [L,NC]


RewriteRule(,InvAct) ^/veiculoww.aspx$ /Veiculo [R,QSA]

RewriteRule ^/Veiculo$ /veiculoww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/veiculo.aspx$ /Veiculo/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&veiculoid=(.*)$ [NC]
RewriteRule(,InvAct) ^/veiculo.aspx$ /Veiculo/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/Veiculo/(.*)/(.*)$ /veiculo.aspx?Mode=$1&VeiculoId=$2 [L,NC]
RewriteRule ^/Veiculo/(.*)/(.*)$ /veiculo.aspx [L,NC]


RewriteRule(,InvAct) ^/frotaww.aspx$ /Frota [R,QSA]

RewriteRule ^/Frota$ /frotaww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/frota.aspx$ /Frota/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&frotaid=(.*)$ [NC]
RewriteRule(,InvAct) ^/frota.aspx$ /Frota/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/Frota/(.*)/(.*)$ /frota.aspx?Mode=$1&FrotaId=$2 [L,NC]
RewriteRule ^/Frota/(.*)/(.*)$ /frota.aspx [L,NC]


RewriteRule(,InvAct) ^/rastreadorww.aspx$ /Rastreador [R,QSA]

RewriteRule ^/Rastreador$ /rastreadorww.aspx [L,NC]


RewriteRule(,InvAct) ^/chipgsmww.aspx$ /ChipGSM [R,QSA]

RewriteRule ^/ChipGSM$ /chipgsmww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/chipgsm.aspx$ /ChipGSM/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&chipgsmid=(.*)$ [NC]
RewriteRule(,InvAct) ^/chipgsm.aspx$ /ChipGSM/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/ChipGSM/(.*)/(.*)$ /chipgsm.aspx?Mode=$1&ChipGSMId=$2 [L,NC]
RewriteRule ^/ChipGSM/(.*)/(.*)$ /chipgsm.aspx [L,NC]


RewriteRule(,InvAct) ^/ultimodadolidoww.aspx$ /UltimoDadoLido [R,QSA]

RewriteRule ^/UltimoDadoLido$ /ultimodadolidoww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/ultimodadolido.aspx$ /UltimoDadoLido/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&ultimodadolidoid=(.*)$ [NC]
RewriteRule(,InvAct) ^/ultimodadolido.aspx$ /UltimoDadoLido/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/UltimoDadoLido/(.*)/(.*)$ /ultimodadolido.aspx?Mode=$1&UltimoDadoLidoId=$2 [L,NC]
RewriteRule ^/UltimoDadoLido/(.*)/(.*)$ /ultimodadolido.aspx [L,NC]


RewriteRule(,InvAct) ^/mqttparametrosww.aspx$ /MqttParametros [R,QSA]

RewriteRule ^/MqttParametros$ /mqttparametrosww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/mqttparametros.aspx$ /MqttParametros/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&mqttparametrosid=(.*)$ [NC]
RewriteRule(,InvAct) ^/mqttparametros.aspx$ /MqttParametros/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/MqttParametros/(.*)/(.*)$ /mqttparametros.aspx?Mode=$1&MqttParametrosId=$2 [L,NC]
RewriteRule ^/MqttParametros/(.*)/(.*)$ /mqttparametros.aspx [L,NC]


RewriteRule(,InvAct) ^/comandoww.aspx$ /Comando [R,QSA]

RewriteRule ^/Comando$ /comandoww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/comando.aspx$ /Comando/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&comandoid=(.*)$ [NC]
RewriteRule(,InvAct) ^/comando.aspx$ /Comando/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/Comando/(.*)/(.*)$ /comando.aspx?Mode=$1&ComandoId=$2 [L,NC]
RewriteRule ^/Comando/(.*)/(.*)$ /comando.aspx [L,NC]


RewriteRule(,InvAct) ^/comandoenviadoww.aspx$ /ComandoEnviado [R,QSA]

RewriteRule ^/ComandoEnviado$ /comandoenviadoww.aspx [L,NC]


RewriteCond %{QUERY_STRING} ^(.*),(.*)$ [NC]
RewriteRule(,InvAct) ^/comandoenviado.aspx$ /ComandoEnviado/%2/%3 [R]
RewriteCond %{QUERY_STRING} ^mode=(.*)&comandoenviadoid=(.*)$ [NC]
RewriteRule(,InvAct) ^/comandoenviado.aspx$ /ComandoEnviado/%2/%3 [R]

RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^/ComandoEnviado/(.*)/(.*)$ /comandoenviado.aspx?Mode=$1&ComandoEnviadoId=$2 [L,NC]
RewriteRule ^/ComandoEnviado/(.*)/(.*)$ /comandoenviado.aspx [L,NC]


RewriteRule(,InvAct) ^/relatorioposicao.aspx$ /RelatorioPosicao [R,QSA]

RewriteRule ^/RelatorioPosicao$ /relatorioposicao.aspx [L,NC]


RewriteRule(,InvAct) ^/relatoriohorastrabalhadas.aspx$ /RelatorioHorasTrabalhadas [R,QSA]

RewriteRule ^/RelatorioHorasTrabalhadas$ /relatoriohorastrabalhadas.aspx [L,NC]


RewriteRule(,InvAct) ^/relatorioutilizacao.aspx$ /RelatorioUtilizacao [R,QSA]

RewriteRule ^/RelatorioUtilizacao$ /relatorioutilizacao.aspx [L,NC]
